@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.slideshow-container {
    max-width: 1248px; 
    position: relative;
    margin: auto;
    transition: transform .2s; 
}
  
.highlighted-product {
    display: none;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.product-image {
    width: 960px; 
    height: 540px;
    display: block; 
}

.product-description {
    z-index: 1;
    font-family: 'DM Sans';
    height: 540px;
    overflow: auto;
    background-color: #222222;
    color: white;
    width: 288px; 
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.product-description h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
}
  
.product-description p {
    color: #bbbbbb;
    font-size: 16px;
    line-height: 1.5;
}
.product-description a {
    text-align: center;
    color: #086C72;
}
  
.product-description button {
    width: 100%;
    height: 100%;
    background: hsla(0, 87%, 24%, 1);
    background: linear-gradient(0deg, hsla(0, 87%, 24%, 1) 0%, hsla(183, 87%, 24%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(0, 87%, 24%, 1) 0%, hsla(183, 87%, 24%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(0, 87%, 24%, 1) 0%, hsla(183, 87%, 24%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#720808", endColorstr="#086C72", GradientType=1 );
    border: none;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 60px;
    border-radius: 30px;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: -46px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(15, 204, 216, 0.8);
}
  
.prev {
    left: -46px;
    border-radius: 20px 0 0 20px;
    background-color: rgba(221, 63, 63, 0.8);
}

.next:hover {
    right: -52px;
    background-color: rgba(8, 108, 114, 0.8);
}
.prev:hover {
    left: -52px;
    background-color: rgba(114, 8, 8, 0.8);
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px 2px;
    background-color: #aaa;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #ffffff;
}
  
.highlighted-product:first-of-type {
    display: flex;
}