@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    width: 25%;
    background-color: #333333;
}

.container {
    background: hsla(0, 87%, 24%, 1);
    background: linear-gradient(0deg, hsla(0, 87%, 24%, 1) 0%, hsla(183, 87%, 24%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(0, 87%, 24%, 1) 0%, hsla(183, 87%, 24%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(0, 87%, 24%, 1) 0%, hsla(183, 87%, 24%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#720808", endColorstr="#086C72", GradientType=1 );
}

.logo {
    width: 200px;
}

h1 {
    font-family: 'DM Sans';
    font-weight: 1000;
    font-size: 80px;
}