@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.popup .overlay{
    position: fixed;
    top:0px;
    right:0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    box-sizing: border-box;
    display: none;
}
  
.popup .content1 {
    position: absolute;
    text-align: center;
    right: 0%;
    width: 12%;
    height: 35%;
    transform: scale(0);
    background: hsla(0, 87%, 24%, 1);
    background: linear-gradient(0deg, hsla(0, 87%, 24%, 1) 0%, hsla(183, 87%, 24%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(0, 87%, 24%, 1) 0%, hsla(183, 87%, 24%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(0, 87%, 24%, 1) 0%, hsla(183, 87%, 24%, 1) 100%);
    margin-top:30px ;
    z-index: 2;
    border-radius: 8px;
}
  
.popup#popup-2 .content1{
    left: 0%;
    width: 20%;
    height: 80%;
    margin-top: 2.3em;
}
.popup#popup-2 .content1 .writes{
    padding-bottom: 20%;
}
  
.popup .content1 .writes{
    background-color: #D9D9D9;
    padding-left: 15px;
    margin: auto;
    margin-top: 30%;
    width: 80%;
    height: 70%;
    text-align: left;
    border-radius: 8px;
    line-height: 2;
}

.popup .content1 .closebtn{
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    color: #aaaaaa;
    cursor: pointer;
}
  
.popup#popup-1 .content1 .closebtn{
    left: 5%
}
  
.popup#popup-2 .content1 .closebtn{
    right: 5%;
}

.popup#popup-2 .content1 .popupbtn{
    width: 50%;
    height: 3.5%;
    left: 25%;
    top: 5%;
    border-radius: 8px;
}
  
.popup#popup-1 .content1 .writes .h1{
    font-size: 10px;
    font-weight: 10;
    width: 95%;
    right: 0%;
}
  
.popup .popupbtn{
    position: absolute;
}

.loginbtn{
    position: absolute;
    cursor: pointer;
    top: 9%;
    background-color: #222222;
    color: #fff;
    width: 30%;
    padding: 5px;
    border-radius: 8px;
    left:15.5%;
}
.registerbtn{
    position: absolute;
    cursor: pointer;
    top: 9%;
    background-color: #222222;
    color: #fff;
    width: 30%;
    padding: 5px;
    border-radius: 8px;
    left: 50.5%;
}
  
.popup.active .overlay{
    display: block;
}
  
.popup.active .content1{
    transition:all 300ms ease-in-out;
    transform: scale(1);
}
  
.popup .content1 .popupbtn{
    cursor: pointer;
    top: 5%;
    background-color: #222222;
    color: #fff;
    width: 30%;
    padding: 5px;
    border-radius: 15%;
}
  
.popup#popup-1#popup-1 .content1 .popupbtn:first-child{
    left: 10%;
}
  
.popup#popup-1#popup-1 .content1 .popupbtn:nth-child(2){
    right: 10%;
}
  
.popup .content1 .writes .h1{
    border-width: 100px;
    border-top-style: solid;
    border-top-color: #aaaaaa;
}

.gamesbtn, .sellyourproductbtn, .myaccountbtn, .yourproductsbtn{
    margin-top: -20px;
}


.separator1 {
    height: 1px;
    background-color: #999999; 
    margin-left: -5px; 
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: -10px;
  }

  .separator2 {
    height: 0.5px;
    background-color: #999999; 
    margin-left: -5px; 
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .popup{
    font-family: 'DM Sans';
  }

  .popup#popup-1 .content1{
    width: 20%;
    height: 52%;
}